BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlignConsecutiveAssignments:
  Enabled: false

AlignConsecutiveDeclarations:
  Enabled: false

AlignTrailingComments:
  Kind: Never

PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Attach

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
